<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>

    <bean id="eddie" class="com.springinaction.springidol.Instrumentalist">
        <property name="song" value="Running with the Devil"/>
    </bean>

    <bean class="com.springinaction.springidol.Guitar">
        <qualifier value="guitar"/>
    </bean>

    <bean id="piano" class="com.springinaction.springidol.Piano"/>


    <!--<bean id="duke" class="com.springinaction.springidol.Juggler">
            <constructor-arg value="15"/>
        </bean>

        <bean id="sonnet29" class="com.springinaction.springidol.Sonnet29"/>

        <bean id="poeticDuke" class="com.springinaction.springidol.PoeticJuggler">
            <constructor-arg value="#{15}"/>
            <constructor-arg ref="sonnet29"/>
        </bean>
    -->
    <!-- <bean id="theStage"
              class="com.springinaction.springidol.Stage"
              factory-method="getInstance"/>

        <bean id="auditorium"
              class="com.springinaction.springidol.Auditorium"
              init-method="turnOnLights"
              destroy-method="turnOffLights"/>

        <bean id="saxophone"
              class="com.springinaction.springidol.Saxophone"/>


        <bean id="kenny"
              class="com.springinaction.springidol.Instrumentalist">

            <property name="song" value="JingleBells"/>
            <property name="instrument">
                <bean class="com.springinaction.springidol.Saxophone"/>
            </property>
        </bean>
    -->
    <!--<bean id="kenny"
              class="com.springinaction.springidol.Instrumentalist"

              p:song="JingleBells"
              p:instrument="#{saxophone}"/>
    -->
    <!--<bean id="carl"
          class="com.springinaction.springidol.com.springinaction.springidol.Instrumentalist"
          p:song="#{kenny.song}"
          p:instrument-ref="saxophone"/>
-->
    <!--<bean id="carl"
          class="com.springinaction.springidol.Instrumentalist">
        <property name="song" value="#{kenny.song?:'Greensleeves'}"/>
        <property name="instrument" value="#{kenny.instrument}"/>
    </bean>
-->
    <!--  <bean id="piano"
              class="com.springinaction.springidol.Piano"/>

        <bean id="guitar" class="com.springinaction.springidol.Guitar"/>
    -->
    <!-- <bean id="hank"
           class="com.springinaction.springidol.OneManBand">
         <property name="instruments">
             <map>
                 <entry key="#{'GUITAR'}" value-ref="guitar"/>
                 <entry key="CYMBAL" value-ref="cymbal"/>
                 <entry key="HARMONICA" value-ref="harmonica"/>
             </map>
         </property>
     </bean>
    -->
    <!-- <bean id="harmonica" class="com.springinaction.springidol.Harmonica"/>

  <bean id="cymbal" class="com.springinaction.springidol.Cymbal"/>-->
</beans>